{% load fieldvalue i18n %}

<tr id="server_{{ form.instance.id }}" data-server="{{ form.instance.id }}" data-update-url="{% url "server_update" form.instance.id %}" class="{% if form.is_valid or not form.is_bound %}valid{% else %}invalid{% endif %}">
    <td class="status popover-field" data-url="{% url "server_report" pk=form.instance.id %}" 
            title="{% blocktrans with domain=form.instance.domain %}Status of {{ domain }}{% endblocktrans %}">
        {% if form.instance.id %}
            {% if form.instance.verified  and form.instance.moderated %}
                <img src="{{ STATIC_URL }}img/save.png" alt="verified" title="verified" />
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png"
                    alt="Not verified, click to see details."
                    title="Not verified, click to see details." />    
            {% endif %}
        </a>
        {% endif %}
    </td>
    {% for field in form %}
        {% include "server/includes/server_table_cell.html" %}
    {% endfor %}
    <td class="right{% if form.instance.moderated == False %} resubmittable{% endif %}">
        {% if form.instance.id %}
            <img class="button-resubmit"  src="{{ STATIC_URL }}img/save.png" alt="resubmit" title="resubmit"
                data-url="{% url "server_resubmit" form.instance.id %}"
                 {% if form.instance.moderated == False %}style="display: inline;"{% endif %} />
            <img class="button-edit"   src="{{ STATIC_URL }}img/edit.png" alt="edit" title="edit"
                {% if form.errors %}style="display: none;" {% endif %} />
            <img class="button-delete" src="{{ STATIC_URL }}img/delete.png" alt="delete" title="delete"
            {% if form.errors %}style="display: none;" {% endif %} data-url="{% url "server_delete" form.instance.id %}" />
            <img class="button-save"   src="{{ STATIC_URL }}img/save.png" alt="save" title="save"
                 {% if form.errors %}style="display: inline;" {% endif %} />
            <img class="button-cancel" src="{{ STATIC_URL }}img/cancel.png" alt="cancel" title="cancel"
                 {% if form.errors %}style="display: inline;" {% endif %} />


            {% if form.instance.automatic_verification %}
            <img class="button-resend" src="{{ STATIC_URL }}img/reload.png" alt="resend confirmation" title="resend confirmation"
            {% if form.errors %}style="display: inline;" {% endif %} data-url="{% url "server_resend" form.instance.id %}"/>
            {% endif %}
        {% else %}
            <img class="button-add"    src="{{ STATIC_URL }}img/add.png"
                 alt="add new server" title="add new server" />
        {% endif %}
    </td>
</tr>
