{% load fieldvalue %}

<td>
    <div class="value-display"
            {% if form.errors %}style="display: none;" {% endif %}>
        {{ field|fieldvalue }}
    </div>
    <div class="tooltip-field value-edit" {% if form.errors %}style="display: block;" {% endif %} data-tip="{{field.name}}">
        {{ field }}
        <div class='fielderrors'>
            {{ field.errors }}
        </div>
    </div>
</td>
